*{
    font-size: 16px;
}

@font-face {
    font-family: "caroline";
    src: url("./font/caroline.otf");
}
/*fond*/
.fond {
    /* background-color: #677E52; */
    margin: 0;
}

hr {
    border: 10px solid #677E52;
    margin: 0;
    margin-top: -4px;
}

/*head*/
.headfond {
    background-color: white;
    display: flex;
}

.img {
    width: 100%;
}

.headergauche {
    width: 8%;
}

.headerdroit {
    width: 92%;
    text-align: right;
    transform: translateY(28%);
}

.bonhomme {
    width: 20px;
}

.lien {
    color: #2c2c2c;
    text-decoration: none;
    font-family: "caroline";
    font-size: 2em;
    margin-right: 3%;
}

/*section1*/
.img1 {
    width: 100%;
}
.img2 {
    width: 41.7%;
    position: absolute;
    left: 0%; right: 0%;
    margin: auto;
}

.img3 {
    width: 10%;
    position: absolute;
    transform: translateY(-65%);
    left:-20px
}

/*section2*/
.imgfemme {
    width: 20%;
}

/*section3*/
.imgnoeud {
    width: 10%;
}
.imgmaille {
    width: 10%;
}
.img-play-youtube {
    width: 5%;
}
.img-logo-youtube {
    width: 10%;
}

/*section4*/
.img-sac {
    width: 15%;
}
.img-panier {
    width: 15%;
}
.img-pull {
    width: 15%;
}

/*section7*/
.france {
    width: 7%;
}
.facebook {
    width: 2%;
}
.pinterest {
    width: 2%;
}
.twitter {
    width: 2%;
}

/*feuilles*/
.img4 {
    width: 20%;
}
.img5 {
    width: 20%;
}
.img6 {
    width: 20%;
}
.img7 {
    width: 20%;
}
.img8 {
    width: 20%;
}
.img9 {
    width: 20%;
}
.img10 {
    width: 20%;
}
.img11 {
    width: 20%;
}


