*{
    font-size: 16px;
}
/*Variables*/
:root {
    --white: white;
    --dark-green: #677E52;
    --light-green: #b7ca79;
    --grey: #b0cc99;
    --beige: #f6e8b1;
    --lanvander: #d1bfd5;
    --black: #2c2c2c;

}
@font-face {
    font-family: "caroline";
    src: url("../font/caroline.otf");

}

/*--- Fond Body ---*/

.fond {
    margin: 0;
    font-size: 16px;
}

.centrer {
    text-align: center;
}


/*------------------------*/
/*--- Barre Navigation ---*/

.headfond {
    background-color: var(--white);
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.headergauche {
    width: 8%;
}

.headerdroit {
    width: 92%;
    text-align: right;
    margin-right: 2%;
    font-size: 1.5em;
}

.bonhomme {
    width: 27px;
}

.lien {
    color: var(--black);
    text-decoration: none;
    font-family: "caroline";
    font-size: 2em;
    margin-right: 2%;
}

.btn {
    text-decoration: none;
    background-color: var(--dark-green);
    color: var(--black);
    padding: 23px 32px; 
    border-radius: 100px; 
    letter-spacing: 0.1em;
    transition: background-color 500ms;
    font-family: "caroline";
    font-size: 2.3em;
}

/*---------------*/
/*--- Bandeau ---*/

    /*traits vert*/
hr {
    border: 10px solid var(--dark-green);
    margin: 0;
    margin-top: -4px;
}

.img-jungle-bandeau {
    width: 100%;
}

.img-logo-bandeau {
    width: 41.7%;
    position: absolute;
    left: 0%; right: 0%;
    margin: auto;
}

.img-ellipse {
    width: 10%;
    position: absolute;
    transform: translateY(-65%);
    left:-20px;
}

/*-------------------*/
/*---Section Intro---*/

.container {
    padding-top: 5%;
}

    /*Entête "Bonjour"*/
.centrer p {
    width: 83%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Calibri', sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    line-height: 0em;
}

    /*espace interligne*/
.pmarge  {
    margin-bottom: 6%!important;
}

    /*souligne "vous"*/
section div p .souligne {
    text-decoration: underline;
    font-size: 1em;
}

    /*Bloc: imgfemme + blocktext*/
.bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.imgfemme {
    width: 214%;
    margin-left: 85px;
}

.blocktext {
    padding-left: 203px;
    padding-right: 10px;
    font-size: 2em;
    padding-top: 23%;
}

    /*Texte Calibri "Dans ma famille"*/
.blocktext h3 {
    line-height: 37px;
    margin: auto;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 80px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 0.20em;
    margin-bottom: 6%;
}

    /*Texte Caroline "Sur ce site"*/
section .blocktext p {
    line-height: 0.9em;
    font-family: "caroline";
    font-size: 0.4em;  
    margin-top: 20%;
}

section .oups { /*corrige la taille du texte*/
    font-size: 4em; 
    width: 78%;
    margin: auto;
}

/*----------------------- Fin Partie Eli ----------------------------*/

