*{
    font-size: 16px;
}
/*Variables*/
:root {
    --white: white;
    --dark-green: #677E52;
    --light-green: #b7ca79;
    --grey: #b0cc99;
    --beige: #f6e8b1;
    --lanvander: #d1bfd5;
    --black: #2c2c2c;

}
@font-face {
    font-family: "caroline";
    src: url("../font/caroline.otf");
}

/*fond*/
body {
    margin: 0;
    font-size: 16px;
}

.centrer {
    text-align: center;
}


/*nav*/
.headfond {
    background-color: var(--white);
    display: flex;
}

.img {
    width: 100%;
}

.headergauche {
    width: 8%;
}

.headerdroit {
    width: 92%;
    text-align: right;
    transform: translateY(28%);
}

.bonhomme {
    width: 20px;
}

.lien {
    color: var(--black);
    text-decoration: none;
    font-family: "caroline";
    font-size: 2em;
    margin-right: 3%;
}

/*SECTION 1 BONJOUR*/
hr {
    border: 10px solid var(--dark-green);
    margin: 0;
    margin-top: -4px;
}

.img1 {
    width: 100%;
}
.img2 {
    width: 41.7%;
    position: absolute;
    left: 0%; right: 0%;
    margin: auto;
}

.img3 {
    width: 10%;
    position: absolute;
    transform: translateY(-65%);
    left:-20px
}
.imgfeuille1{
    position: absolute;
    left: 0;
 
}
.imgfeuille2{
    position: absolute;
    width: 20%;
    right: 0;
}

}
/*SECTION2 PRESENTATION*/
.container {
    /* width: 78%; */
    margin: auto;
}

.polices2 p {
    font-size: 2em;
}

.imgfemme {
    width: 20%;
}
.imgfeuille3{
    position: absolute;
    width: 20%;
    left: 0;
}
.imgfeuille4{
    position: absolute;
    width: 20%;
    right: 0;
}

        /*SECTION 3 'DES ASTUCES*/


/* création h1 'Des astuces pour...' avec un width 
pour réduire ou augmenter l'espacement entre les lettres et le trait*/
section .titre{
    font-family: "caroline";
    font-size: 4em;
    font-weight: lighter;
    text-align: center;
    width: 400px;
    margin: auto;
    background-color:white;
    position: relative;
    z-index: 1;
}

/* création des 2 h2 'Faire un noeud' et 'Monter des mailles' centrés */
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
}


/* création div englobant 3 cards dans la section 3'Des astuces*/
section .cards{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

/* création paragraphe de la section 3 'Des astuces' */
.para-section-3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 35%;
    margin: auto;
    margin-bottom: 10%;
}

/* configuration card logo youtube centré et l'un au dessus de l'autre*/
.imgyoutube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}
/* redimension image et logo */
.imgnoeud {
    width: 60%;
}
.imgmaille {
    width: 60%;
}
.img-play-youtube{
    width: 30%;
}
.img-logo-youtube{
    width: 60%;
}

/* 2 feuilles section 3 */
.imgfeuille5{
    position: absolute;
    width: 18%;
    left: 0;
}
.imgfeuille6{
    position: absolute;
    width: 18%;
    right: 0;
}

/* création du hr avec un z-index à 0 par rapport au h1
pour effet trait coupé avec le background white du h1*/
#trait-fin{
    border: 1px solid rgb(230, 216, 216);
    width: 80%;
    margin: auto;
    opacity: 0.5;
    position: relative;
    top:60px;
    z-index: 0;
}

        /*SECTION 4 'DES PRODUITS*/

/* création h1 'Des produits...'avec un width différent du premier h1
pour réduire ou augmenter l'espacement entre les lettres et le trait */
section .titre2{
    font-family: "caroline";
    font-size: 4em;
    font-weight: lighter;
    text-align: center;
    width: 520px;
    margin: auto;
    background-color:white;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

/* div englobant les 3 photos de la section 4'Des produits' pour les centrer */
section .photovales{
    display: flex;
    justify-content: center;
    gap: 120px;
}

/* redimension des 3 photos */
.img-sac {
    width: 15%;
}
.img-panier {
    width: 15%;
}
.img-pull {
    width: 15%;
}

/* SECTION 6 LIV QUAL PAIE */
.imgfeuille7{
    position: absolute;
    left: 0;
    width: 20%;
}
.imgfeuille8{
    position: absolute;
    right: 0;
    width: 20%;
}


/*FOOTER*/
.france {
    width: 7%;
}
.facebook {
    width: 2%;
}
.pinterest {
    width: 2%;
}
.twitter {
    width: 2%;
}




