*{
    font-size: 16px;
}
/*Variables*/
:root {
    --white: white;
    --dark-green: #677E52;
    --light-green: #b7ca79;
    --grey: #b0cc99;
    --beige: #f6e8b1;
    --lanvander: #d1bfd5;
    --black: #2c2c2c;

}
@font-face {
    font-family: "caroline";
    src: url("../font/caroline.otf");

}

/*fond*/
.fond {
    margin: 0;
    font-size: 16px;
}

.centrer {
    text-align: center;
}


/*nav*/
.headfond {
    background-color: var(--white);
    display: flex;
}

.img {
    width: 100%;
}

.headergauche {
    width: 8%;
}

.headerdroit {
    width: 92%;
    text-align: right;
    transform: translateY(28%);
}

.bonhomme {
    width: 20px;
}

.lien {
    color: var(--black);
    text-decoration: none;
    font-family: "caroline";
    font-size: 2em;
    margin-right: 3%;
}

/*bandeau*/
hr {
    border: 10px solid var(--dark-green);
    margin: 0;
    margin-top: -4px;
}

.img1 {
    width: 100%;
}
.img2 {
    width: 41.7%;
    position: absolute;
    left: 0%; right: 0%;
    margin: auto;
}

.img3 {
    width: 10%;
    position: absolute;
    transform: translateY(-65%);
    left:-20px
}

/*intro*/
section .container {
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

/*bonjour*/
section .centrer p {
    width: 83%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Calibri', sans-serif;
    font-size: 0.5em;
    font-weight: bolder;
    font-size: ;
    line-height: 0em;
    margin-top: 60px;
}

.pmarge  {
    margin-bottom: 6%!important;
}

/*card imgfemme et blocktext*/
section .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .blocktext {
    padding-left: 150px;
    padding-right: 10px;
    font-size: 2em;
    margin-left: 60px;
}

section .blocktext p {
    line-height: 0.9em;
    font-family: "caroline";
    font-size: 0.3em;
}

/*texte -- "Dans ma famille"*/
section h3 {
    margin: auto;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    height: 80px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.imgfemme {
    width: 79%;
    margin-left: 85px;
}










section div {
    margin: 0; 
    font-size: 4em; 
    font-weight: lighter; 
    width: 78%;
    margin: auto;
}

.polices2 p {
    font-size: 2em;
}





/*section3*/
.imgnoeud {
    width: 10%;
}
.imgmaille {
    width: 10%;
}
.img-play-youtube {
    width: 5%;
}
.img-logo-youtube {
    width: 10%;
}

/*section4*/
.img-sac {
    width: 15%;
}
.img-panier {
    width: 15%;
}
.img-pull {
    width: 15%;
}

/*section7*/
.france {
    width: 7%;
}
.facebook {
    width: 2%;
}
.pinterest {
    width: 2%;
}
.twitter {
    width: 2%;
}

/*feuilles*/
.img4 {
    width: 20%;
}
.img5 {
    width: 20%;
}
.img6 {
    width: 20%;
}
.img7 {
    width: 20%;
}
.img8 {
    width: 20%;
}
.img9 {
    width: 20%;
}
.img10 {
    width: 20%;
}
.img11 {
    width: 20%;
}


