*{
    font-size: 16px;
}
/*Variables*/
:root {
    --white: white;
    --dark-green: #677E52;
    --light-green: #b7ca79;
    --grey: #b0cc99;
    --beige: #f6e8b1;
    --lanvander: #d1bfd5;
    --black: #2c2c2c;

}
@font-face {
    font-family: "caroline";
    src: url("../font/caroline.otf");
}
.img{
    width: 15%;
}
